@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*sets the overall font/theme of the game ensuring everything is consistent*/
    body {
        background-color: rgb(24, 223, 223);
    font-family: roboto;
    }
    /*changes the colour of the border of the heading*/
    header {
        background:darkslategray;
        padding: 20px;
        padding-top: 10px;
        width: 100%;
    }
    /*targets the h1 tag controlling its colour, positioning and font*/
    header > h1 {
    color:aliceblue;
    text-align: center;
    font-family: roboto;
    }
    /*css for the scoreboard allows the scoreboard to be positioned correctly and look the part. The border radius was an inspiration from a youtube video*/
    .scorz {
        border: 3px solid;
        padding: 20px 35px;
        width: 300px;
        margin: 40px auto;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        position: relative;
        height: 85px;
    }
    /*labels for the user and computer scores*/
    .you, .rounds {
        background-color:cornflowerblue;
        color: aliceblue;
        padding: 5px 10px;
        text-align: center;
    }
    /*positioning of both the user and computer scores*/
    #label {
    position:absolute;
    top:0;
    left:0;
    }
    /*positions the number od rounds*/
    #rounds {
        position:absolute;
        top:40px;
        left:95px;
        }
   /*alters the positioning of the computer score label*/
    #comp-label {
    position: absolute;
    top: 0;
    right: 0;
    }
    /*these two following paragraphs target the caption which states who won and what option overpowers the other*/
    .resultz {
        font-family: roboto;
        font-weight: 200;
        color:aliceblue;
    }
    .resultz > p {
        text-align: center;
        font-weight: bold;
        font-family: roboto;
    }
    /*To style the whole row of icons*/
    .options {
        text-align: center;
        padding-top: 12px;
        
    }
    /*to style each individual icon*/
    .option {
        display: inline-block;
        border: 3px solid;
        border-radius: 10px;
        margin-left: 58px;
        margin-right: 20px;
        font-size: 20px;
        transition: all 1.5s ease;
    }
    /*text caption underneath the icons is of the right size and in the right position*/
    #punch {
        text-align: center;
        font-size: 15px;
        font-family: roboto;
        padding-top: 20px;
    }
    /*The three following glowing classes allow the icons to glow eithwer green blue or red depending if the user wins loses or draws against the computer*/
    .glowing_green {
    border: 4px solid;
    color: #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
    text-align:center;
    }
    .glowing_red {
        border: 4px solid;
        color: #cc4d4d;
        box-shadow: 0 0 10px #b43131
    }
    .glowing_blue {
        border: 4px solid;
        color: #4d62cc;
        box-shadow: 0 0 10px #313eb4
    }
    /*form is to be positioned in the center*/
    .form_holder {
        text-align: center;
        padding-top: 15px;
       
    }
    /*Makes sure the round outcome is hidden until the user wins*/
    .hide{
        display: none;
    }
    /*The round is to be in the center when displayed*/
    
    #round-outcome{
        text-align: center;
    }
     @media only screen and (min-width: 481px) {
     .option {
        margin-left: 20px;
     }
     header {
        width: 100%;
     }
    #punch {
        font-size: 25px;
    }
    .scorz {
        text-align: center;
        font-size: medium;
    }
}
    @media only screen and (min-width: 1025px) {
.option {
    font-size: 30px;
  
}
.options {
    padding-top: 30px;
    margin-right: 20px;
    
}
.scorz {
    font-size: larger;
    border: 3px solid;
    
    
    
}
#punch {
    padding-bottom: 50px;
}
    }